.generator_container {
  width: 55%;
  margin: 0 auto;
  padding: 20px;
}

.generator_title {
  font-size: 3rem;
  color: black;
  margin-bottom: 0px;
}

.generator_title_h3 {
  font-size: 2rem;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}

.generator_subtitle {
  font-size: 1.5rem;
  color: gray;
  margin-bottom: 5px;
}

.questions_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

.question_block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.question_label {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.question_description_label {
  font-size: 1rem;
  color: gray;
  margin-bottom: 10px;
}

.question_input {
  width: 30%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit_button {
  padding: 10px 20px;
  font-size: 1.2rem;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.submit_button:hover {
  background-color: #0056b3;
}

.error_message {
  color: rgba(223, 14, 14, 0.794);
  font-size: 0.9rem;
  margin-top: 5px;
  font-weight: 400;
}

.checkbox_container {
  display: flex;
  align-items: center; /* Ensure vertical alignment */
  width: auto;
  white-space: nowrap;
}

.checkbox_container span {
  margin-left: 5px;
}

.short_select {
  width: 100%;
  max-width: 120px;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.short_select:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
  outline: none;
}

.generator_note {
  background-color: #fff3cd;
  color: #856404;
  padding: 15px;
  border: 1px solid #ffeeba;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 1rem;
  line-height: 1.3;
  width: 100%;
}

@media (max-width: 768px) {
  .generator_container {
    width: 30%;
    margin: 0 auto;
    padding: 20px;
  }

  .generator_title {
    font-size: 2rem;
  }

  .generator_subtitle {
    font-size: 1.2rem;
  }

  .question_label {
    font-size: 0.9rem;
  }
  .generator_title_h3 {
    font-size: 1.6rem;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
  }

  .question_description_label {
    font-size: 0.8rem;
    color: gray;
    margin-bottom: 10px;
  }

  .question_input {
    font-size: 0.9rem;
    width: 100%;
    margin-right: 0px;
    padding-inline: 0px;
  }

  .submit_button {
    font-size: 1rem;
  }

  .generator_note {
    width: 98%;
  }

  .checkbox_container span {
    margin-left: 2px;
    padding-left: 0px;
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .generator_container {
    width: 80%;
    margin-left: 2vw;
    margin-right: 5vw;
  }

  .generator_title {
    font-size: 1.8rem;
  }

  .generator_title_h3 {
    font-size: 1.6rem;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
  }

  .generator_subtitle {
    font-size: 1rem;
  }

  .question_label {
    font-size: 0.8rem;
  }

  .question_description_label {
    font-size: 0.7rem;
  }

  .question_input {
    font-size: 0.8rem;
    margin-right: 0px;
    padding-inline: 0px;
  }

  .submit_button {
    font-size: 0.9rem;
  }

  .generator_note {
    width: 98%;
  }

  .checkbox_container span {
    margin-left: 2px;
    padding-left: 0px;
    font-size: 0.8rem;
  }
}