:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #F9F9FA;
  max-width: 100vw; /* Evita el desplazamiento horizontal */
  overflow-x: hidden; /* Oculta cualquier desbordamiento horizontal */
}

html {
  scroll-behavior: smooth;
  max-width: 100vw; /* Evita el desplazamiento horizontal */
  overflow-x: hidden; /* Oculta cualquier desbordamiento horizontal */
}

.get_started {
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.get_started:active {
  transform: scale(0.95);
}