.steps_container {
  width: 100%;
  margin: 0 auto;
  padding: 30px 100px 50px 100px;
  background: linear-gradient(135deg, hsla(217, 61%, 59%, 0.742), #86c9e9b9);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 49%;
  margin-top: 0vh;
}

.steps_title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
  color: #292929;
}

.steps_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.steps_item {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 16px 24px 16px 24px; 
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.steps_number {
  background-color: #f7f7f7a6;
  border: 1px solid #e6e6e6;
  color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-right: 20px;
}

.steps_text {
  font-size: 18px;
  font-weight: 400;
  color: #333;
}

.desktop_text {
  display: inline;
}

.mobile_text {
  display: none;
}

@media (max-width: 768px) {
  .steps_container {
    padding: 30px;
    width: 70%;
    max-width: fit-content;
  }

  .steps_title {
    font-size: 20px;
  }

  .steps_item {
    padding: 14px;
  }

  .steps_number {
    width: 30px;
    height: 30px;
    font-size: 13px;
    margin-right: 10px;
  }

  .steps_text {
    font-size: 16px;
  }

  .desktop_text {
    display: none;
  }

  .mobile_text {
    display: inline;
  }
}