.terms_container {
  display: flex;
  flex-direction: column;
  margin-left: 8vw;
  margin-right: 8vw;
  padding: 0 1rem;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .terms_container {
    margin-left: 4vw;
    margin-right: 4vw;
    padding: 0 0.5rem;
  }
}

@media (max-width: 480px) {
  .terms_container {
    margin-left: 2vw;
    margin-right: 2vw;
    padding: 0 0.25rem;
  }
}